body {
    background-color: black;
    position: relative;
    font-family: 'Roboto', sans-serif;

}

.Post {
    width: 600px;
    height: 800px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -300px;

}

.postHead {
    display: flex;
}


#htmlImage {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 20px;
}

.textHead {
    display: inline;
}

h1 {
    margin: 0px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}

h2 {
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
}

#iconMenu {

    margin-left: 435px;
    margin-top: 30px;

}

#imgPost {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.icons {
    padding-top: 17px;
    margin-left: 10px;
    margin-bottom: 25px;
}

#bookmarkIcon {
    margin-left: 440px;
}

p {
    margin-left: 15px;
    margin-right: 15px;
   
}